.food{
	width: 350px;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
}
.food:hover{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.food-title{
	color: rgb(117, 116, 116);
}


@media screen and (max-width: 750px) {
	.food{
		width: 300px;
	}
}
@media screen and (max-width: 420px) {
	.food{
		width: 280px;
	}
}