.background{
	background-color: #FCF4E0;
	height: 100vh;
}
.search-part{
	top:45%;
}
.search-box{
	width: 350px;
}
.search-field{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.search-btn{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

@media screen and (max-width: 1000px) {
	
	.background{
		background-color: #FCF4E0;
	}
}