.background{
	background-color: #FCF4E0;
	height: 100vh;
}
.search-part{
	top:43%;
}
.search-box{
	width: 300px;
	margin-right: -25px;
	outline: none;
}

.search-btn{
	margin-left: -25px;
}
::-webkit-input-placeholder{
	color: rgb(195, 10, 10);
}

@media screen and (max-width: 1000px) {
	
	.background{
		background-color: #FCF4E0;
	}
}